---
import Main from '../../layouts/Main.astro';
import { BlogGallery } from '../../blog/BlogGallery';
import {
	getRecentPosts,
	getCategoryPosts,
	getTags,
	getAllPostsIncludeTSX,
} from '../../utils/Content';

export async function getStaticPaths() {
	const posts = getAllPostsIncludeTSX(['tag']);

	const tags = Array.from(
		new Set(
			posts
				.filter((post) => Number(post.tags?.length) > 0)
				.flatMap((post) => post.tags!),
		),
	);

	return tags.map((tag) => ({
		params: {
			tag,
		},
	}));
}

const { tag } = Astro.params;
const posts = getCategoryPosts('blog', ['title', 'date', 'slug'])
	.filter((post) => Number(post.tags?.length) > 0)
	.filter((post) => post.tags!.includes(tag!));
const recents = getRecentPosts(['title', 'date', 'slug']);
const tags = getTags();
---

<Main
	recents={recents}
	tags={tags}
	meta={{
		title: `＃${tag} タグ一覧`,
		description: `＃${tag} タグ一覧`,
	}}
>
	<h1 class="content-title">＃{tag} タグ一覧</h1>
	<BlogGallery posts={posts} client:load />
</Main>
